<p id="notice"><%= notice %></p>

<% @email_results.each do |person| %>
    <p>
        <strong>Name: </strong><%= person['name'] %><br/><br/>
        <strong>Email: </strong><%= person['email'] %><br/><br/>
        <% if person['jobs'].empty? != true %>
            <strong>Jobs: </strong>
            <% person['jobs'].each do |company, job| %>
                <% if defined? company != nil && defined? job != nil %>
                    <br/><%= job %> at <%= company %>
                <% end %>
            <% end %><br/><br/>
        <% end %>
        <% if person['sites'].empty? != true %>
            <strong>Social Media Sites: </strong>
            <% person['sites'].each do |site_name, link| %>
                <br/><%= site_name %>: <a href="<%= link %>"><%= link %></a>
            <% end %>
        <% end %>
    </p>
    <hr>
<% end %>

<br/><br/>
<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
